<%- include('../partials/header') %>
<header class="container" id="new">

    <h2>Edit <%=campground.cgName%></h2>

    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <label for="details">Edit Details</label>
        <textarea name="details" id="details" cols="30" rows="10" value="<%=campground.details%>"></textarea>
        <label for="imageURL">Edit Image URL</label>
        <input type="text" name="imageURL" value="<%=campground.imageURL%>">
        <!-- <p>Edit Image URL</p>
        <input type="text" name="imageURL"> -->
        <!-- <input type="submit" value="Update campground"> -->
        <button type="submit">Edit Campground</button>

    
    </form>
    </header>

    
<%- include('../partials/footer') %>