<%- include('../partials/header') %>

<main>
  <div id="show">
    <h2><%=campground.cgName%></h2>
    <img id="show-image" src="<%= campground.imageURL %>" alt="" />
    <p class="cg-details">Location: <%= campground.location %></p>
    <br />
    <p class="cg-details"><em>Details:</em> <%= campground.details %></p>
    <br />
    <p class="credit"><i>Added by: <%=campground.createdBy.name%></i></p>
    <br />

    <% if(user.name === campground.createdBy.name) { %>
    <form action="/campgrounds/<%=campground._id%>/edit" method="GET">
      <button class="edit-add-btn" type="submit">Edit Campsight</button>
    </form>
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>
